.dark-primary {
  background-color: #141D2F;
}

.dark-secondary {
  background-color: #1E2A47;
}

.light-primary {
  background-color: #F6F8FF;
}

.light-secondary {
  background-color: #FEFEFE;
}

.text-color {
  color: #4B6A9B;
}

.light-text-color {
  color: white;
}

.dark-text-color {
  color: #222731;
}

* {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  height: 100vh;
}

form {
  margin-bottom: 20px;
}

h1 {
  color: white;
  min-width: 140px;
  font-size: 26px;
  font-weight: bold;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  color: white;
}

span {
  margin-left: 10px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 20vh;
  max-width: 730px;
  width: 90%;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 730px;
  margin-bottom: 35px;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.toggle-text {
  font-size: 13px;
}

.toggle {
  cursor: pointer;
  margin-left: 10px;
}

.moon {
  display: none;
}

.input-group {
  height: 69px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin-bottom: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1);
}

.search {
  height: 69px;
  max-width: 730px;
}

.search-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn {
  min-width: 106px;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #0079FF;
  border-color: #0079FF;
}

.form-control {
  border: 0px solid;
  width: 75%;
}

.form-control:focus {
  outline: none;
}

.search-icon {
  margin-top: 9px;
  min-width: 30px;
  height: 30px;
}

.search-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrong {
  min-width: 110px;
  margin-bottom: 0;
  color: #F74646;
  display: none;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
}

.card {
  border: none;
}

.card-title {
  margin-left: 0;
}

.link-wrapper {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}

.octo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#user {
  color: #0079FF;
}

.content-wrapper {
  padding-left: 20px;
}

.stats {
  height: 85px;
  max-width: 480px;
  width: 90%;
  border-radius: 10px;
  padding: 15px;
}

.stats p {
  margin-bottom: 0;
}

.links {
  margin-top: 20px;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog {
  margin-left: 0;
}

.blog:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .link-wrapper {
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
  }
  .content {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    height: auto;
  }
}

@media only screen and (max-width: 462px) {
  p {
    font-size: 12px;
  }
  span {
    font-size: 13px;
  }
  .extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .space {
    margin-top: 20px;
  }
  .links {
    margin-top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */