//colors
$dark-color: #141D2F;
$dark-secondary-color: #1E2A47;
$light-color: #F6F8FF;
$light-secondary-color: #FEFEFE;
$light-text: #697C9A;


.dark-primary{
    background-color: $dark-color;
}
.dark-secondary{
    background-color: $dark-secondary-color;
}
.light-primary{
    background-color: $light-color;
}
.light-secondary{
    background-color: $light-secondary-color;
}
.text-color{
    color: #4B6A9B;
  }

.light-text-color{
    color: white;
}
.dark-text-color{
    color: #222731;
}

* {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    height: 100vh;
}

form {
    margin-bottom: 20px;
}

h1 {
    color: white;
    min-width: 140px;
    font-size: 26px;
    font-weight: bold;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    color: white;
}
span{
    margin-left: 10px;
}


.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    max-width: 730px;
    width: 90%;
}
//Top 
.top{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    max-width: 730px;
    margin-bottom: 35px;
}
.switch{
    display: flex;
    flex-direction: row;
}

.toggle-text{
    font-size: 13px;
}
.toggle{
    cursor: pointer;
    margin-left: 10px;
}
.moon{
    display: none;
}


//Search bar
.input-group {
    height: 69px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.card {

    // height: 440px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1); 
}

.search {
    height: 69px;
    max-width: 730px;
}

.search-body {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.btn {
    min-width: 106px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #0079FF;
    border-color: #0079FF;
}

.form-control {
    border: 0px solid;
    width: 75%;
    &:focus {
        outline: none;
    }
}

.search-icon {  
    margin-top: 9px;
    min-width: 30px;
    height: 30px;

}

.search-body {
    // padding: 9px ;
    display: flex;
    align-items: center;
}
.wrong{
    min-width: 110px;
    margin-bottom: 0;
    color: #F74646;
    display: none;
}
//Main content
.main-section {
    display: flex;
    padding: 5%;
    flex-direction: row;
    // background-color: $secondary-color;
    border: none;
    
}
.card{
    border: none;
    // background-color: $secondary-color;
}
.card-title{
    margin-left: 0;
}
.link-wrapper{
    flex-basis: 260px;
}

.octo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#user{
    color: #0079FF;
}
.content-wrapper{
    padding-left: 20px;
}
.stats {
    height: 85px;
    max-width: 480px;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    // background-color: white;
}

.stats p {
    margin-bottom: 0;

}
.links{
    margin-top: 20px;
}

.bio {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .main-section {
         flex-direction: column;
    }
    .link-wrapper{
        flex-basis: 160px;
    }
    // .search-icon{
    //     width:20px;
    //     height:20px;
    // }
    .content {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 400px) {
   
    .main{
        height: auto;
    }
}
@media only screen and (max-width: 462px) {
    p{
        font-size: 12px;
    }
    span{
        font-size: 13px;
    }
   .extra{
    display: flex;
    flex-direction: column;
   }
   .space{
       margin-top: 20px;
   }
   .links{
    margin-top: 0;
}

}