//colors
$main-color: #141D2F;
$secondary-color: #1E2A47;
* {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    height: 100vh;
}

form {
    margin-bottom: 20px;
}

h1 {
    max-width: 730px;
    margin-bottom: 35px;
    color: white;
}

body {
    background-color: $main-color;
    color: white;
}
span{
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    max-width: 730px;
    width: 90%;
}

//Search bar
.input-group {
    height: 69px;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.card {

    // height: 440px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.search {
    height: 69px;
    max-width: 730px;
}

.search-body {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

.btn {
    width: 106px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #60ABFF;
    border-color: #60ABFF;
}

.form-control {
    border: 0px solid;
    width: 75%;
    background-color: $secondary-color;

    &:focus {
        outline: none;
    }
}

.search-icon {
    margin-top: 9px;
    width: 30px;
    height: 30px;

}

.search-body {
    // padding: 9px ;
    display: flex;
    align-items: center;
}
//Main content
.main-section {
    display: flex;
    padding: 5%;
    flex-direction: row;
    background-color: $secondary-color;
    border: none;
    
}
.card{
    border: none;
    background-color: $secondary-color;
}
.card-title{
    margin-left: 0;
}
.link-wrapper{
    flex-basis: 260px;
}
.octo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-wrapper{
    padding-left: 20px;
}
.stats {
    height: 85px;
    max-width: 480px;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    background-color: $main-color;
}

.stats p {
    margin-bottom: 0;

}
.links{
    margin-top: 20px;
}

.bio {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .main-section {
         flex-direction: column;
    }
    .link-wrapper{
        flex-basis: 160px;
    }
    // .search-icon{
    //     width:20px;
    //     height:20px;
    // }
    .content {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 400px) {
   
    .main{
        height: auto;
    }
}
@media only screen and (max-width: 462px) {
    p{
        font-size: 12px;
    }
    span{
        font-size: 13px;
    }
   .extra{
    display: flex;
    flex-direction: column;
   }
   .space{
       margin-top: 20px;
   }
   .links{
    margin-top: 0;
}

}